// Mixins Here

.nav-style {
    color: @river-bend;
    font-size: 2em;
}

.nav-space {
    margin: 20px;
    text-decoration: none;
}




.btn-color {
    width: 100px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 10px;
    color: white;
    font-size: 2em;
    cursor: pointer;
    background: @btn-bg-color;

    &:hover {
        background-color: @shuttle-gray
    }
}